/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Tutorial Case

   Cycle Pathology Styles to Reset Style Defaults
   Author: Lyla Moss
   Date: 5/12/2017 

   Filename:         cp_reset.css
   Supporting Files: none

*/
