/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Lyla Moss
   Date:  May 6, 2017 

   Filename:         c_styles.css
   Supporting Files: none

*/
